# List

## Named List

In [1]:
list1 <- list(name = "Joe", salary = 55000, union = TRUE)

In [2]:
list1

$name
[1] "Joe"

$salary
[1] 55000

$union
[1] TRUE

## Without Name

In [3]:
list2 <- list("Joe", 55000, TRUE)

In [4]:
list2

[[1]]
[1] "Joe"

[[2]]
[1] 55000

[[3]]
[1] TRUE

## Extraction

In [5]:
# using name op1
list1$salary

[1] 55000

In [6]:
# using name op2
list1[["salary"]]# quotation is required

[1] 55000

In [7]:
# using position
list2[2]

[[1]]
[1] 55000

# Brackets
## Single brackets always return a list

In [8]:
class(list1[2])

[1] "list"

In [9]:
str(list1[2])

List of 1
 $ salary: num 55000

## `[[]]` reference a single component

In [10]:
list1[[1:2]] # error

ERROR: Error in list1[[1:2]]: subscript out of bounds

In [ ]:
list1[[2]]

In [ ]:
class(list1[[2]]) # returns a vector

# Add Elements

In [ ]:
list3 <- list("hello")

In [ ]:
list3

In [ ]:
# add single element using []
list3[[2]] <- "hola"

In [ ]:
list3

In [ ]:
# add single element using [[]]
list3[3] <- "ola"

In [ ]:
list3

In [ ]:
# add multiple elements
list3[4:6] <- c("four", "five", "six") # only single brackets only
list3

# Delete Elements

In [ ]:
list4 <- list("first_name" = "Joe", "last_name" = "Satriani")
list4

In [ ]:
list4["first_name"] <- NULL
list4

In [ ]:
str(list4)

In [ ]:
list4[1] <- NULL

In [ ]:
str(list4)

In [ ]:
list1

# Create list with `vector()`

In [ ]:
# empty list
list5 <- vector(mode = "list")
class(list5)

In [ ]:
length(list5)

In [ ]:
list5[["name"]] <- "Joe" # single brackets also work

In [ ]:
list5